{
	"printWidth": 80,
	"endOfLine": "lf",
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"singleQuote": true,
	"trailingComma": "all",
	"jsxBracketSameLine": false,
	"semi": true
}
